@import "base.scss";
// body {
//     margin: 0;
//     padding: 0;
//     font-family: sans-serif;
//     overflow-x: hidden;
// }
//
.App {
    position: absolute;
    left: 0;
    width: 100%;
}
.profile,
.projects,
.experience,
.blog {
    position: relative;
    opacity: 0;
    animation: fadein 1.5s forwards;
    top: 7vh;
    position: relative;
}
.projects {
    top: 9vh;
}

.experience {
    top: 1.5vh;
    padding-bottom: 10vh;
}

.blog {
    padding-bottom: 10vh;
}

/* .button {
  z-index: 100;
  position: absolute;
  top: 50%;
  border: 3px $primary-color solid;
  width: 50px;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background: $secondary-color;
  font-size: 40px;
}

.button:active {
  background-color: $secondary-color;
  box-shadow: 0 5px #50c5b7;
  transform: translateY(4px);
} */

// .contact {
//     position: fixed;
//     bottom: 5%;
//     right: 5%;
//     border: 2px solid $primary-color;
//     border-radius: 50px;
//     padding: 12px;
//     color: $secondary-color;
//     z-index: 10000;
//     background: $primary-color;
//     font-size: 25px;
// }
//
// .contact:active {
//     background-color: $secondary-color;
//     color: $primary-color;
//     box-shadow: 0 5px #666;
//     transform: translateY(4px);
// }
//
// .contact.hidden {
//     background: $secondary-color;
//     color: $primary-color;
// }
//
// .form.hidden {
//     opacity: 0;
// }
// .form.shown {
//     z-index: 101;
// }
// .form.shown,
// .form.hidden {
//     position: fixed;
//     bottom: 5%;
//     border: 2px solid $primary-color;
//     border-radius: 50px;
//     padding: 7px;
//     color: $primary-color;
//     right: 20%;
//     width: 60%;
//     background: $primary-color;
//     color: $secondary-color;
//     transition: all 1s ease-in;
// }
//
// .form.shown form,
// .form.hidden form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }
//
// form input.subbed {
//     align-self: center;
//     border: $secondary-color solid 1px;
//     background: $primary-color;
//     color: $secondary-color;
// }
//
// .message-container,
// .email-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
//
// @media only screen and (max-width: 750px) {
//     .form.shown {
//         bottom: 0;
//         right: 0;
//         border-radius: 0;
//         width: 100%;
//     }
//     .contact {
//         right: 1%;
//         bottom: 1%;
//     }
//     .person ul {
//         padding: 0;
//         margin: 10px;
//         width: 90%;
//     }
// }

@keyframes fadein {
    50% {
    }
    100% {
        opacity: 1;
    }
}
