nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  background: #533a71;
  height: 2.5rem;
  z-index: 10; }

nav a {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  z-index: 10; }

nav a {
  color: #50c5b7;
  text-decoration: none;
  background: #533a71;
  width: 33%;
  height: 100%;
  transition: all 0.5s linear; }

nav a:hover,
nav a:active {
  background: #50c5b7;
  color: #533a71;
  border-left: 1px solid #6184d8;
  border-right: 1px solid #6184d8; }
